@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply bg-gray-20 text-gray-500;
}

.DropShadow {
  box-shadow: 3px 3px 20px rgb(80 78 78 / 50%);
}

.bgButton {
  background-image: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
}

/* hide scrollbar but allow scrolling */
.scroolbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.tableScroll::-webkit-scrollbar {
  height: 8px;
  width: 1px;
  margin-top: 20px;
  opacity: 40%;
}

.tableScroll::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #dee2e6;
  opacity: 20%;
}

.title-color {
  color: rgba(255, 255, 255, 0.7);
}

.gros {
  font-family: "Space Grotesk", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.stroke-bl {
  stroke-width: 2px;
  stroke: #fff;
  fill: #3ca6a6;
}

.card-box {
  border-radius: 0.875rem;
  background: #0f1624;
  box-shadow: 0px 1px 34px -16px rgba(255, 255, 255, 0.23);
}

.card-title {
  color: #fec576;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.075rem;
}

.card-role {
  color: #f2e3d5;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0375rem;
}

.image-circle {
  width: 20.9375rem;
  height: 6rem;
  flex-shrink: 0;
  border-radius: 25.9375rem;
  background: #1b1f2a;
  filter: blur(34.5px);
}

.text-bio {
  color: rgba(242, 227, 213, 0.66);
  text-align: center;
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
  letter-spacing: 0.0375rem;
}

.state-title {
  color: #fec576;
  text-align: center;
  font-family: Roboto;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
